body {
    background-image:url("https://images.pexels.com/photos/1227497/pexels-photo-1227497.jpeg?auto=compress&cs=tinysrgb&dpr=1&h=650&w=940");
         width:90%;
        height:100%; 
        margin:auto;
        display:block;    
    }

    #grid {
        background-color:#8FBC8F;
        display:grid;
        grid-template-rows: 49% 49% 49%;
        grid-template-columns: 39% 29% 35%;
        grid-gap: 15px;
        padding: 15px;
        padding-bottom:120px;
        padding-right:100px;
        border-radius:20%;
        margin-top:2%;
    }

    .img {
        border-radius:20%;
    }

    .box {
        display:flex;
        justify-content: center;
        align-items:center;
        color:#000000;
    }

    h1 {
        font-family: 'Vollkorn SC', serif;
        display:flex;
        justify-content: center;
        align-items:center;
    }

    .navbar-nav{
        position:relative;
        right:-100px;
    }

    #nav-headline {
        font-size: 40px;
        position:relative;
        right:-400px;
        font-family: 'Vollkorn SC', serif;
    }

    .nav-link {
        position:relative;
        left:230px;  
    }

    #bear-image{
        margin:0px;  
    }

    #wip-hair{
        margin:0px;
    }

    #van-gogh-image {
        margin:0px;
    }

    #light-bulb-head {
        margin:0px;
    }

    #pregnant-in-water {
        margin:0px;
    }

    #jupiter {
        margin:0px;
    }
    #cd {
        height:180px;
        width:250px;
    }
    #alex-puello {
        font-size: 20px;
        position: relative;
        right: 334px;
    }

    .bg-light{
        height:150px;
    }

    .nav-link{
        font-family: 'Vollkorn SC', serif;
    }

    .subtitle {
        font-family:'Vollkorn SC', serif;
    }

@media(min-width:600px) and (max-width:966px){
    body {
        background-image:url(images/pattern.jpg);         
        }
        
    #grid {
        background-color:#8FBC8F;
        display:grid;
        grid-template-rows: 35% 35%;
        grid-template-columns: 50% 50%;
        }

    .navbar-nav{
        position:relative;
        right:45px;
        }

    #nav-headline {
        font-size: 38px;
        position:relative;
        right:-249px;
        font-family: 'Vollkorn SC', serif;
        }
}

@media (min-width:415px) and (max-width:599px){

    body {
        background-image:url(images/pattern.jpg);
        width:90%;
        height:100%; 
        margin:auto;
        display:block;      
    }
    
    #grid {
        background-color:#8FBC8F;
        display:grid;
        grid-template-rows: 20% 20%;
        grid-template-columns: 50% 50%;
        grid-gap: 15px;
        padding: 15px;
        padding-bottom:120px;
        padding-right:100px;
    }

    .navbar-nav{
    position:relative;
    right:-100px;
    }

    #nav-headline {
    font-size: 40px;
    position:relative;
    right:-400px;
    font-family: 'Vollkorn SC', serif;
    }

    .nav-link {
    position:relative;
    left:230px;   
    }

    #alex-puello {
    font-size: 20px;
    position: relative;
    right: 334px;
    }

    .bg-light{
     height:150px;
    }

    .nav-link{
    font-family: 'Vollkorn SC', serif;
        }

    .subtitle {
     font-family:'Vollkorn SC', serif;
    }
}

@media (min-width:0px) and (max-width:826px){

    body {
        background-image:url(images/pattern.jpg);
        width:90%;
        height:100%; 
        margin:auto;
        display:block;  
        height:80%;     
    }
    
    #grid {
        background-color:#8FBC8F;
        display:grid;
        grid-template-rows: 20% ;
        grid-template-columns: 113% ;
    }

    .navbar-nav{
        position:relative;
        right:60px;
    }

    #nav-headline {
        font-size: 40px;
        position:relative;
        right:-230px;
        font-family: 'Vollkorn SC', serif;
    
    }

    .all-image{
        display:block;
        margin:auto;
    }
}

@media (min-width:625px) and (max-width:775px){
    .navbar-nav{
        position:relative;
        right:149px;
    }
    
    #nav-headline {
        font-size: 40px;
        position:relative;
        right:-148px;
        font-family: 'Vollkorn SC', serif;
    }
}

@media (min-width:300px) and (max-width:624px){
    .navbar-nav{
        position:relative;
        left:500;
    }
    
    #nav-headline {
        font-size: 33px;
        position:relative;
        right:-100px;
        font-family: 'Vollkorn SC', serif;
    }

    .nav-link {
        position:relative;
        left:80px;
    }
}

@media (min-width:300px) and (max-width:413px){
    .navbar-nav{
        position:relative;
        left:500;
    }
    
    #nav-headline {
        font-size: 30px;
        position:relative;
        right:-50px;
        font-family: 'Vollkorn SC', serif;
}
    .nav-link {
        position:relative;
        left:25px;
    }
}