
/* Index page media query page */

    body {
        background-image:url(images/pattern.jpg);
             width:80%;
            height:100%; 
            
            margin:auto;
            display:block;
             
    }

    #grid {
        background-color:pink;
        display:grid;
        grid-template-columns: 30% 70% ;
        grid-template-rows: 30% 70% 10%;
        grid-gap: 15px;
        padding: 15px;
        padding-bottom:120px;
        
        grid-template-areas: "about-me-title about-me-title  "
                                "img info";
    }



    
        .box {
            display:flex;
            justify-content: center;
            align-items:center;
            color:black;
        }
    
        .box1{
            
            
            
            display:flex;
            justify-content: center;
            align-items:center;
            grid-area:img;
        }
    
        
        .box2{
            
            display:flex;
            justify-content: center;
            align-items:center;
            grid-area:info;
            
        }
    
        
    
        #box-about-me {
            grid-area:about-me-title;
           
        }
    
    #about-me {
      
        
        font-family: 'Vollkorn SC', serif;
    }
    
    #name {
        font-family: 'Vollkorn SC', serif;
       position:relative;
       left:300px;
    }
    
    .nav-link {
        position:relative;
        left:-80px;
        
    }
  
    
    
    
    #alex-puello {
        font-size: 50px;
        position:relative;
        right:50px;
       
    }
    #nav-headline {
        font-size: 40px;
        position:relative;
        right:35px;
        
        font-family: 'Vollkorn SC', serif;
       
    }

    .navbar-nav{
        position:relative;
        right:0px;
    }
    
    
    
    

@media (min-width:416px) and (max-width:1030px) {
   
* {
    box-sizing:border-box;
}

h1 {
    font-family: 'Vollkorn SC', serif;
}

div {
    margin:20px;
}

body {
    background-image:url(images/pattern.jpg);
        width:auto;
}

#grid {
    background-color:pink;
    display:grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% auto;
    grid-gap: 15px;
    padding: 15px;
    grid-template-areas: "about-me-title about-me-title  "
                            "img info";
                            
                            width:80%;
                            height:80%;
                            
                            margin:auto;
                            display:block;
}


    .box {
        display:flex;
        justify-content: center;
        align-items:center;
        color:black;
    }

    .box1{
        grid-area:img;
        
        
        display:flex;
        justify-content: center;
        align-items:center;
        
    }

    
    .box2{
        grid-area:info;
        display:flex;
        justify-content: center;
        align-items:center;
        
    }

    

    #box-about-me {
        grid-area:about-me-title;
       
    }

#about-me {
    position:relative;
    left:150px;
}

#name {
    font-family: 'Vollkorn SC', serif;
}

.nav-link {
    position:relative;
    
}
button.navbar-toggler {
    position: relative;
    right: -190px;
    left: 453px;
    top: -65px;
 }

 #name {
     position:relative;
     top:50px;
     right:-100px;
 }

#alex-puello {
    font-size: 30px;
    position:relative;
    right:50px;
   
}

}


/* Media querie up to 414 pixels (Mobile) */

@media (max-width:414px){
    body {
        background-image:url(images/pattern.jpg);
        width:80%;
        
    }

    div {
        margin: 10px;
    }

     #grid {
        /* background-color:yellow; */

        grid-template-rows: 30%;

        grid-template-columns: 100%;
        
        /* grid-template-areas: "about-me-title" 
                                    "img" 
                                    "info"; */
        width:300px;
        height:90%;
        display:flex;
        justify-self:center;
        align-self:center;
        margin:auto;
        display:block;
        
        
     }
#Alex-Man-image {
    margin:auto;
    display:block;
}

#about-me{
    position:relative;
    left:16px;
}

.navbar {
    margin: auto;
    height:70px;
}

button.navbar-toggler {
    position: relative;
    right: -190px;
    top: -55px;
 }

 #name {
     position:relative;
     top:10px;
     
 }

 #alex-puello {
    font-size: 20px;
    position: relative;
    right: 334px;
 }

 button.navbar-toggler {
    position: relative;
    right: -190px;
    left: -110px;
    top: -65px;
 }

 .bg-light {
     height:150px;
 }

}

 @media (min-width:768px) and (max-width:1024px) {
     .navbar {
         position:relative;
         right:-90px;
     }
 }
     
     

   

    /* Ipad viewport fix. */

    @media (min-width:768px) and (max-width:1024px) {
        * {
            box-sizing:border-box;
        }

        
        h1 {
            font-family: 'Vollkorn SC', serif;
        }
        
        div {
            margin:20px;
        }
        
        body {
            background-image:url(images/pattern.jpg);
                width:90%;
        }
        
        #grid {
            background-color:pink;
            display:grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 20% auto;
            grid-gap: 15px;
            padding: 15px;
            grid-template-areas: "about-me-title about-me-title  "
                                    "img info";
                                    
                                    width:80%;
                                    height:80%;
                                    
                                    margin:auto;
                                    display:block;
        }
        
        
            .box {
                display:flex;
                justify-content: center;
                align-items:center;
                color:black;
            }
        
            .box1{
                grid-area:img;
                
                
                display:flex;
                justify-content: center;
                align-items:center;
                
            }
        
            
            .box2{
                grid-area:info;
                display:flex;
                justify-content: center;
                align-items:center;
                
            }
        
            
        
            #box-about-me {
                grid-area:about-me-title;
                position:relative;
                left:-150px;
               
            }
        
        #about-me {
            position:relative;
            left:150px;
        }
        
        #name {
            font-family: 'Vollkorn SC', serif;
        }
        
        .nav-link {
            position:relative;
            left:-100px;
            
        }

     .navbar {
         position:relative;
         right:0px;
     }
        button.navbar-toggler {
            position: relative;
            right: -190px;
            left: 453px;
            top: -65px;
         }
        
         #name {
             position:relative;
             top:50px;
             right:0px;

         }
        
        #nav-headline {
            font-size: 40px;
            position:relative;
            right:-331px;
            font-family: 'Vollkorn SC', serif;
           
        }
        
        }




       /* @media (min-width:360px) and (max-width:414px) {
    body {
        background-image:url(images/pattern.jpg);
            width:80%;
            height:80%;
            width:auto;
            display:block;  

    }
    
    #grid {
        background-color:pink;
        display:grid;  
        grid-template-rows: 50%;    
        grid-template-columns: 50%;
        grid-gap: 15px;
        padding: 15px;   
        height:80%;
            
    }
    
 } */

 @media (min-width:415px) and (max-width:760px) {
        
}

@media (min-width:760px) and (max-width:1060px) {
        
}

@media (min-width:1061px) and (max-width:1560px) {
        
}

@media (min-width:1561px) and (max-width:1860px) {
        
}
 
 /* #message-box{
    height:200px;
 } */

 .p-tag{
     margin:20px;
 }

 .box {
     margin:20px;
 }

