body {
    background-image:url("https://images.pexels.com/photos/1227497/pexels-photo-1227497.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940://images.pexels.com/photos/1029609/pexels-photo-1029609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    width:80%;
    height:100%; 
    margin:auto;
    display:block;      
}

.contact-btn{
    color:white;
    background-color:orange;
    margin:auto;
    display:block;
}

.p-tag{
    margin:auto;
    display:block;
}

#grid {
    background-color:#8FBC8F;
    display:grid;
    grid-template-columns: 30% 70% ;
    grid-template-rows: 20% 60% 10%;
    grid-gap: 15px;
    padding: 15px;
    padding-bottom:120px;
    border-radius:20%;
    margin-top:2%;
    grid-template-areas: "about-me-title about-me-title  "
                            "img info";
}

.box {
    display:flex;
    justify-content: center;
    align-items:center;
    color:black;
}

.box1{
    display:flex;
    justify-content: center;
    align-items:center;
    grid-area:img;
}
    
.box2{
    display:flex;
    justify-content: center;
    align-items:center;
    grid-area:info; 
}

#box-about-me {
    grid-area:about-me-title;
    
}

#about-me {
    font-family: 'Vollkorn SC', serif;
}

#name {
    font-family: 'Vollkorn SC', serif;
    position:relative;
    left:300px;
}

.nav-link {
    position:relative;
    left:-80px;
}

#alex-puello {
    font-size: 50px;
    position:relative;
    right:50px;
}

#nav-headline {
    font-size: 40px;
    position:relative;
    right:35px;
    font-family: 'Vollkorn SC', serif;
}

.navbar-nav{
    position:relative;
    right:0px;
}
.navbar {
    border-radius:20%;
}

@media (max-width:414px){
    body {
        background-image:url("https://images.pexels.com/photos/1227497/pexels-photo-1227497.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940://images.pexels.com/photos/1029609/pexels-photo-1029609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        width:80%; 
    }

    div {
        margin: 10px;
    }

     #grid {
        /* background-color:yellow; */
        grid-template-rows: 30%;
        grid-template-columns: 100%;
        border-radius:20%;
        margin-top:2%;
        /* grid-template-areas: "about-me-title" 
                                    "img" 
                                    "info"; */ 
    }
    #Alex-Man-image {
        margin:auto;
        display:block;
    }

    #about-me{
        position:relative;
        left:16px;
    }

    .navbar {
        margin: auto;
        height:70px;
    }

    button.navbar-toggler {
        position: relative;
        right: -190px;
        top: -55px;
    }

    #name {
        position:relative;
        top:10px;
        
    }

    #alex-puello {
        font-size: 20px;
        position: relative;
        right: 334px;
    }

    button.navbar-toggler {
        position: relative;
        right: -190px;
        left: -110px;
        top: -65px;
    }

    .bg-light {
        height:150px;
    }
}

@media(min-width:767px) and (max-width:966px){

    body {
        background-image:url("https://images.pexels.com/photos/1227497/pexels-photo-1227497.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940://images.pexels.com/photos/1029609/pexels-photo-1029609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        width:80%;
        height:100%; 
        margin:auto;
        display:block;      
    }
    
    #grid {
        background-color:#8FBC8F;
        display:grid;
        grid-template-columns: 30% 70% ;
        grid-template-rows: 20% 70% 10%;
        grid-gap: 15px;
        padding: 15px;
        padding-bottom:120px;
        border-radius:20%;
        margin-top:2%;
        grid-template-areas: "about-me-title about-me-title  "
                                "img info";
    }
    
    .box {
        display:flex;
        justify-content: center;
        align-items:center;
        color:black;
    }
    
    .box1{
        display:flex;
        justify-content: center;
        align-items:center;
        grid-area:img;
    }
        
    .box2{
        display:flex;
        justify-content: center;
        align-items:center;
        grid-area:info; 
    }
    
    #box-about-me {
        grid-area:about-me-title;
        
    }
    
    #about-me {
        font-family: 'Vollkorn SC', serif;
    }
    
    #name {
        font-family: 'Vollkorn SC', serif;
        position:relative;
        left:300px;
    }
    
    .nav-link {
        position:relative;
        left:-80px;
    }
    
    #alex-puello {
        font-size: 50px;
        position:relative;
        right:50px;
    }
    
    #nav-headline {
        font-size: 30px;
        position:relative;
        right:35px;
        font-family: 'Vollkorn SC', serif;
    }
    
    .navbar-nav{
        position:relative;
        right:0px;
    }

}

@media(min-width:600px) and (max-width:990px){
    body {
        background-image:url("https://images.pexels.com/photos/1227497/pexels-photo-1227497.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940://images.pexels.com/photos/1029609/pexels-photo-1029609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        width:80%;
        height:100%; 
        margin:auto;
        display:block;      
    }

    h1 {
        font-size:34px;
    }
    
    #grid {
        background-color:#8FBC8F;
        display:grid;
        grid-template-columns: 80%;
        grid-template-rows: 10% 30% 60%;
        grid-gap: 15px;
        padding: 15px;
        padding-bottom:120px;
        border-radius:20%;
        margin-top:2%;
        grid-template-areas: "about-me-title"
                                "img" 
                                "info";
    }
    
    .box {
        display:flex;
        justify-content: center;
        align-items:center;
        color:black;
    }
    
    .box1{
        display:flex;
        justify-content: center;
        align-items:center;
        grid-area:img;
    }
        
    .box2{
        display:flex;
        justify-content: center;
        align-items:center;
        grid-area:info; 
    }
    
    #box-about-me {
        grid-area:about-me-title;
        
    }
    
    #about-me {
        font-family: 'Vollkorn SC', serif;
    }
    
    #name {
        font-family: 'Vollkorn SC', serif;
        position:relative;
        left:300px;
    }
    
    .nav-link {
        position:relative;
        left:-190px;
    }
    
    #alex-puello {
        font-size: 50px;
        position:relative;
        right:50px;
    }
    
    #nav-headline {
        font-size: 30px;
        position:relative;
        right:125px;
        font-family: 'Vollkorn SC', serif;
    }
    
    .navbar-nav{
        position:relative;
        right:0px;
    }

}

@media (max-width: 412px){

    body {
        background-image:url("https://images.pexels.com/photos/1227497/pexels-photo-1227497.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940://images.pexels.com/photos/1029609/pexels-photo-1029609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        width:90%;   
        position:relative;
        left:0px; 
    }
    #grid {
        background-color:#8FBC8F;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 20% 60%;
        grid-gap: 15px;
        padding: 15px;
        border-radius:20%;
        margin-top:2%;
        grid-template-areas: "about-me-title"
                                "img" 
                                "info";
    }

    #nav-headline {
        font-size: 30px;
        position:relative;
        right:268px;
        font-family: 'Vollkorn SC', serif;
    }
    
    .navbar-nav{
        position:relative;
        right:280px;
    }

}

