/* Grid set up for Portfolio page. */

body {
    background-image:url(images/pattern.jpg);
         width:90%;
        height:100%; 
        
        margin:auto;
        display:block;
         
}

#grid {
    background-color:pink;
    display:grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 39% 29% 35%;
    
    grid-gap: 15px;
    padding: 15px;
    padding-bottom:120px;
    padding-right:100px;
    
    /* grid-template-areas:  */
}

.box {
    display:flex;
    justify-content: center;
    align-items:center;
    color:#000000;
}

h1 {
    font-family: 'Vollkorn SC', serif;
    display:flex;
    justify-content: center;
    align-items:center;
}

.nav-link {
    position:relative;
    left:230px;
    
}
#bear-image{
    margin:0px;
    
}

#wip-hair{
    margin:0px;
}

#van-gogh-image {
    margin:0px;
   
}

#light-bulb-head {
    margin:0px;
    }

#pregnant-in-water {
    margin:0px;
    }

#jupiter {
    margin:0px;
}
#cd {
    height:180px;
    width:250px;

    
}
#alex-puello {
    font-size: 20px;
    position: relative;
    right: 334px;
 }

 .bg-light{
     height:150px;
 }

 .nav-link{
    font-family: 'Vollkorn SC', serif;
 }

 .subtitle {
     font-family:'Vollkorn SC', serif;
 }
    

@media (min-width:415px) and (max-width:1133px){

    body {
        background-image:url(images/pattern.jpg);
             width:90%;
            height:100%; 
            
            margin:auto;
            display:block;
             
    }
    
    #grid {
        background-color:pink;
        display:grid;
        grid-template-rows: 20% 20%;
        grid-template-columns: 50% 50%;
        
        grid-gap: 15px;
        padding: 15px;
        padding-bottom:120px;
        padding-right:100px;

}
}

@media (min-width:360px) and (max-width:414px){
    body {
        background-image:url(images/pattern.jpg);
             width:90%;
            height:100%; 
            
            margin:auto;
            display:block;
             
    }
    
    #grid {
        background-color:pink;
        display:grid;
        grid-template-rows: 12% ;
        grid-template-columns: 50% ;
        
        grid-gap: 15px;
        padding: 15px;
        padding-bottom:120px;
        padding-right:100px;

}

.box {
    display:flex;
    justify-content: right;
    align-items:center;
    color:#000000;
}



}